a {
  color: #00B7FF;
}

.hero-body div h1, .hero-body div h3 {
	color: white;
	font-weight: bold;
}

.hero-body img {
	width: 15rem;
}

.navbar {
	color: black;
}

/* Background image for landing screen */
#water {
	/* The image used */
	background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("../images/stock.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
