<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dash!</title>

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <section class="hero is-small has-background-image" id="water">
    <div class="hero-head">
      <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/images/logo.png" alt="Logo" title="Flow: Revolutionizing water consumption" width="70" height="28">
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item scroll-section" href="/login/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h3 id="main-subtitle" class="subtitle is-3">
          Welcome to your dashboard!
        </h3>
      </div>
    </div>
  </section>
  <section id="registerflow" class="section is-hidden">
    <div class="container has-text-centered">
      <h4 class="title is-4">
        You don't seem to have a Flow device. Let's add one!
      </h4>
      <div class="columns">
        <div class="column is-offset-2-tablet is-8-tablet">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input id="flowid" class="input is-medium" type="text" placeholder="Enter Flow ID..." required>
            </div>
            <div class="control">
              <a class="button is-medium is-info" onclick="addFlow();">
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="flowinfo" class="section is-hidden">
    <div class="container has-text-centered">
      <h4 class="title is-4">
        You have a Flow.
      </h4>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script type="text/javascript" src="/javascript/dashboard.js"></script>
</body>
</html>
