<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Flow!</title>

	<!-- Bulma -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<section class="hero is-fullheight has-background-image" id="water">
		<div class="hero-head">
			<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="#">
						<img src="/images/logo.png" alt="Logo" title="Flow: Revolutionizing water consumption" width="70" height="28">
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-start">
					</div>
					<div class="navbar-end">
						<a class="navbar-item scroll-section" onclick="scrollToSection('about')">About</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 id="main-title" class="title is-1">
					FLOW
				</h1>
				<h2 id="main-subtitle" class="subtitle is-2">
					Track your water from your fingertips
				</h2>
				<a class="button" onclick="showModal('logIn', true)">
					Log In
				</a>
				<a class="button" onclick="showModal('signUp', true)">
					Sign Up
				</a>
			</div>
			<div class="modal" id="logIn">
				<div class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Log In</p>
						<button class="delete" aria-label="close" onclick="showModal('logIn', false)"></button>
					</header>
					<section class="modal-card-body">
						<div class="field">
							<!-- <label class="label">Username</label> -->
							<div class="control has-icons-left has-icons-right">
								<input id="logInUsername" name="username" class="input" type="text" placeholder="Username" required>
								<span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
								<span class="icon is-small is-right">
									<!--<i class="fas fa-exclamation-triangle"></i>-->
								</span>
							</div>
						</div>
						<div class="field">
							<div class="control has-icons-left has-icons-right">
								<input id="logInPassword" name="password" class="input" type="password" placeholder="Password" required>
								<span class="icon is-small is-left">
									<i class="fas fa-unlock"></i>
								</span>
								<span class="icon is-small is-right">
									<!--<i class="fas fa-exclamation-triangle"></i>-->
								</span>
							</div>
						</div>
					</section>
					<footer class="modal-card-foot">
						<button class="button is-success" onclick="logIn();">Log In!</button>
						Don't have an account? &nbsp;
						<a onclick="showModal('logIn', false); showModal('signUp', true)">
							Sign Up
						</a>
					</footer>
				</div>
			</div>
			<div class="modal" id="signUp">
				<div class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">Sign Up</p>
						<button class="delete" aria-label="close" onclick="showModal('signUp', false)"></button>
					</header>
					<section class="modal-card-body">
						<form id="signUpForm" method="POST">
							<div class="field">
								<div class="control has-icons-left has-icons-right">
									<input id="signUpUsername" class="input" type="text" placeholder="Username" onkeyup="checkUName(this.value)" required>
									<span class="icon is-small is-left">
										<i class="fas fa-user"></i>
									</span>
								</div>
								<p class="help is-danger is-hidden">This username is taken.</p>
							</div>
							<div class="field">
								<div class="control has-icons-left has-icons-right">
									<input id="signUpEmail" class="input" type="email" placeholder="Email" required>
									<span class="icon is-small is-left">
										<i class="fas fa-envelope"></i>
									</span>
								</div>
							</div>
							<div class="field">
								<div class="control has-icons-left has-icons-right">
									<input id="signUpPassword" class="input" type="password" placeholder="Password" required>
									<span class="icon is-small is-left">
										<i class="fas fa-unlock"></i>
									</span>
									<span class="icon is-small is-right">
										<i id="PWVisible" class="fas fa-eye"></i>
									</span>
								</div>
							</div>
							<div class="field" onchange="togglePWVisibility()">
								<label class="checkbox">
									<input type="checkbox" value="0">
									Show password
								</label>
							</div>
							<!-- <div class="field">
								<div class="control has-icons-left has-icons-right">
									<input id="signUpPassword1" class="input" type="password" placeholder="Confirm Password" onkeyup="checkPassword()" required>
									<span class="icon is-small is-left">
										<i class="fas fa-unlock"></i>
									</span>
									<span class="icon is-small is-right">
										<i class="fas fa-exclamation-triangle passwordMatch"></i>
									</span>
									<p class="help is-danger passwordMatch is-hidden">Passwords do not match.</p>
								</div>
							</div> -->
						</form>
					</section>
					<footer class="modal-card-foot">
						<button class="button is-success" onclick="signUp()">Sign Up!</button>
						Already have an account? &nbsp;
						<a onclick="showModal('signUp', false); showModal('logIn', true)">
							Log In
						</a>
					</footer>
				</div>
			</div>
		</div>
		<div class="hero-foot">

		</div>
	</section>
	<section id="about" class="section">
		<div class="container has-text-centered">
			<h3 class="title">
				Why use flow?
			</h3>
			<div class="columns">
				<div class="column">
					<span class="icon is-large has-text-success">
						<i class="fas fa-clock fa-2x"></i>
					</span>
					<p class="subtitle is-6">
						Track your consumption over time.
					</p>
				</div>
				<div class="column">
					<span class="icon is-large has-text-info">
						<i class="fas fa-tint fa-2x"></i>
					</span>
					<p class="subtitle is-6">
						Be notified of any leaks.
					</p>
				</div>
				<div class="column">
					<span class="icon is-large has-text-danger">
						<i class="fas fa-chart-pie fa-2x"></i>
					</span>
					<p class="subtitle is-6">
						Compare your devices' water usage.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascript/sha512.js"></script>
	<script type="text/javascript" src="/javascript/main.js"></script>
</body>
</html>
